.cv {
  width: 100%;
  background-color: #fff;
  font-size: 1rem !important;
  display: flex;
}
.left-content {
  width: 38%;
  .cv-profile {
    width: 90%;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.6px;
    display: inline-block;
    margin-bottom: 32px;
    .profile-avatar {
      margin: 70px auto 40px;
      width: 200px;
      height: 200px;
      overflow: hidden;
      border-radius: 50%
    }
    .profile-avatar img {
      max-width: 200px;
      max-height: 200px;
      width: 100%;
      height: 100%;
    }
  }
}
.profile-email {
  margin: 0 0 20px 30px;
}
.profile-phone {
  margin: 0 0 0px 30px;
}
.profile-phone span {
  letter-spacing: -0.6px;
  font-size: 0.95rem;
}
.cv-profile svg {
  vertical-align: middle;
  margin-right: 12px;
  font-size: 1rem !important;
  width: 1.5rem;
  height: 1.5rem;
}
.skills-tittle {
  margin: 6px 0 0 38px;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  letter-spacing: -0.6px;
}
.skill-list {
  padding: 0 0 0 63px;
  margin: 18px 0 0 0;
}
.skill-list li {
  margin-bottom: 5px;
  letter-spacing: -0.7px;
  -webkit-transform: translate(-1px, -2px);
  transform: translate(-1px, -1px);
}
.skill-list li > span {
  transform: translate(-4px, 2px);
}
.cv-skill-rating {
  margin-bottom: 20px;
}
.skill-rating-tittle {
  margin: 24px 0 0 30px;
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.2px;
}
.skill-rating-content {
  margin-left: 24px;
  text-transform: capitalize;
  padding: 12px 6px 8px;
  letter-spacing: -0.3px;
}
.skill-rating-content-item {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}
.rating-wrapper {
  padding: 0 29px;
  margin: 0 34px;
}
.cv-rating {
  display: inline-block;
  background-color: #000000;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  margin: 0 12px;
}
.rating-disabled {
  background-color: #ccc !important;
}
.rating2{
  margin-top: 9px !important;
}
.right-content {
  flex-grow: 1;
  max-width: 62%;
  padding-right: 32px;
}
.cv-tittle {
  font-weight: 500;
  margin: 65px 0 25px 3px;
  padding: 4px 18px 0.1px 34px;
}
.tittle-name {
  font-size: 2.5rem;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 3.55px;
  margin-bottom: 12px;
}
.job-tittle {
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 2.85px;
  font-weight: 500;
}
.border-left {
  border-left: 2px solid #000000;
}
.cv-details {
  transform: translate(-12px, 4px);
  margin: 0 0 57px 0;
}
.details-gender {
  margin-bottom: 8px;
  letter-spacing: 0.8px;
  span {
    margin-left: 16px;
  }
}
.details-birthday {
  margin-bottom: 8px;
  letter-spacing: 0.45px;
  span {
    margin-left: 16px;
  }
}
.details-address {
  display: flex;
  margin-bottom: 8px;
  letter-spacing: -0.55px;
  align-items: flex-start;
}
.details-address span {
  margin-left: 16px !important;
  word-wrap: break-word;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cv-goals {
  position: relative;
  padding: 4px 0 0 34px;
  margin: 0 0 34px 0;
}
.goals-tittle {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: 12px;
}
.goals-layer {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  padding: 0 16px 2px 13px;
}
.goals-quotes {
}
.goals-content {
  letter-spacing: -0.4px;
  margin: 0;
}
.goals-quotes_left {
  display: inline-block;
  transform: scale(2) translate(0, 0.2rem);
  line-height: 1rem;
  margin-right: 2rem;
}
.goals-quotes_right {
  float: right;
  display: inline-block;
  transform: scale(2) translate(0, 0.35rem);
  line-height: 1rem;
  margin-right: 10px;
}
.cv-experiences {
  position: relative;
  margin: 0px 0 32px 0px;
  padding: 2px 0 0 34px;
}
.experiences-heading {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.2px;
  display: flex;
  justify-content: space-between;
}
.experience-tittle {
  font-size: 18px;
  font-weight: 600;
  align-items: center;
  margin-bottom: 10px;
}

.experience-tittle > :first-child {
  display: contents;
}
.experience-tittle-button {
  float: right;
}

.experience-dot {
  margin: 0 16px;
}
.experience-process {
  letter-spacing: 0.9px;
  float: left;
}
.experience-company {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: -0.6px;
  max-width: 40%;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: bottom;
}
.experience-job {
  text-transform: uppercase;
  font-size: 1.05rem;
  letter-spacing: -0.8px;
  margin-bottom: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.experience-list {
  padding: 0 8px;
  letter-spacing: 0.025px;
  line-height: 1.435rem;
}
.experience-detail {
  display: flex;
  font-size: 0.95rem;
}
.detail-dot {
  margin-right: 8px;
  display: inline-block;
}
.cv .detail-content {
  display: inline-block;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cv-experience {
  margin-top: 17px;
  margin-bottom: 28px;
}
.cv-certificates {
  padding: 6px 0 0 32px;
}
.certificates-tittle {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.2px;
}
.certificates-list {
  padding: 6px 8px;
  letter-spacing: -0.1px;
}
.certificates-detail {
  display: flex;
  line-height: 22.5px;
}
.icon-button-md {
  width: 1.7rem;
  height: 1.7rem;
  min-height: 0 !important;
}
.cv-activity {
  margin-left: 30px;
  margin-bottom: 40px;
}
.activity-content {

}
.activity-item {
  margin-bottom: 24px;
}
.activity-tittle {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -0.8px;
  margin-bottom: 14px;
  display: flex;
  justify-content: space-between;
}
.activity-name {
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 9px;
  margin-left:5px;

}
.activity-list {
  padding-left: 10px;
  font-size: 0.9rem;
  letter-spacing: 0.35px;
  list-style-position: outside;
  transform: translate(-3px, 1px);
}
.activity-list li {
  margin-bottom: 14px;
  line-height: 1.45rem;
  list-style-type: none
}
.activity-day{
  margin-left: 5px;
}

.activity-description {
  display: block; 
  padding: 6px 20px;
}
.button-exp{
  float: right;
}
.button-exp button {
  padding: 0 12px !important;

}